<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <title>Add Car</title>
        <style>
            .container {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 50px;
            }  
            
            </style>
    </head>
    <body>
        <div class="container">
            <h2>Car List</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>name</th>
                        <th>image</th>
                        <th>model</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
             {% for car in cars %}
                    <tr>
                        <td>{{ car.id }}</td>
                        <td>{{ car.car_name }}</td>
                       <td><img src="{{ car.car_image.url }}" alt="{{ car.car_name }}" width="50"  height="50"></td>
                        <td>{{ car.car_model }}</td>
                        <td>{{ car.car_price }}</td>
                        <td>
                            <a href="{% url 'updateCar' car.id %}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'deleteCar' car.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                
                </tbody>
            </table>
            <a href="{% url 'add_car' %}" class="btn btn-primary">Add New Car</a>
            
        </div>
    </body>